# sampling result files
*.hdf5

output/*
!output/additive_treated_joined_optimization_100_starts_LBFGS_distributed_Analytic.jld2

# Figures and stuff for the paper
figures/
first_paper/

# zip file created
Combined_Stochastic_Model1.zip
